<h2>Camera Shy!</h2>
<p>We're sorry, this feature is not ready for the public, just yet. Don't worry, we'll be out just as soon as we're ready for you. See you soon!</p>
<p>@Html.ActionLink("Let's get back to the party!!", "Index")</p>