
<div class="jumbotron">
    <h1>Fetchr</h1>
    <p class="lead">Fetchr, want something delivered?  Throw a bone and let a fetcher go get it for you.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Throw A Bone</h2>
        <p>
            Toss out a request for anything you want and wait for a Fetcher to bring it to you!
        </p>
        <p>Thanks to Perk, for an amazing idea!!</p>
        @Html.ActionLink("Throw A Bone", "Index", "Ask", null, new { @class = "btn btn-primary" })
    </div>
    <div class="col-md-4">
        <h2>Go Get It</h2>
        <p>
            Got a few minutes to spare and want to make a little money?  Go fetch!
        </p>
        @Html.ActionLink("Go Get It", "Index", "Fetch", null, new { @class = "btn btn-primary" })
    </div>
</div>
