@{
    ViewData["Title"] = "Fetchr";
}

<div class="text-center">
    <h1 class="display-4">Fetchr</h1>
    <h2>Want something delivered?  Throw me a bone!</h2>
    <p>Fetchr is a peer-to-peer, crowd-service where you can ask for something to be delivered, and a Fetchr will bring it to you.  Now isn't that handy?</p>
</div>
